body {
    padding: 0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;
    background-color: cadetblue;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome-banner{
    background-color: blanchedalmond;
    padding: 20px;
    border-style:inset;
    box-shadow: 0 0 4px;
}
   

.container {
    background-color: blanchedalmond;
    padding: 10px;
    width: 700px;
    max-width: 90%;
    box-shadow: 0 0 4px;
    border-style: inset;
}

.btn-grid{
    display:grid;
    gap: 20px;
    margin: 20px;
}
.next-btn{
    float:right;
}
.hide{
    display: none;
}